* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../img/pexels-juanpphotoandvideo-1242347.jpg);
    background-size:auto;
    background-attachment: scroll;
        
}

/* Estilo básico para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: whitesmoke;
    
}

header {
    background-color:white;
    padding: 15px;
    box-shadow: 0 2px 5px;
}

/* Estilo para la navegación (nav) */
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: chocolate;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: springgreen; 
}

img {
    max-width: 100%;
    height: 280px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 510px;
    border-style: groove;
    border-color: white;
}
h1{
    color: seagreen;
    margin-left: 230px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-shadow: #333;
}

h2{
    color: seagreen;
    margin-top: 40px;
    margin-left: 30px;
    text-decoration: underline;
}

i{
    margin-left: 20px;
    width: 30px;
    height: 30px;
}

a {
    color: chocolate;
    text-decoration: none;
    
}
a:hover{
    color:springgreen ;
    text-decoration: underline;
}
section {
    margin: 20px 0;
    padding: 20px;
    /* background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
     */
 }

 #redes div{
    font-size: larger;
    margin: 30px 20px;
    
}

#form-register div{

    display: flexbox ;
    margin: 20px;
    color: chocolate;
    font-size: medium;
    
}



.form-control input {
    background-color: white;
    color: white;
    border-style: double;
    
    }

.form-select option{
    background-color: white;
    

}    
#message{
    height: 120px;
    width: 200px;
}
button{
    font-weight: bold ;
    border-style: solid;
    margin-left: 140px;
    height: 40px;
    width: 80px;
    color: chocolate;
    border-color: seagreen;
    
    
}
button:hover{
    font-style: normal;
    color:springgreen;
    text-decoration: underline;
    
}

