/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo global del cuerpo */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #121212; /* Fondo oscuro */
    color: #e0e0e0; /* Texto claro */
    padding: 20px;
}

/* Sección de proyectos */
.projects-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: #1e1e1e; /* Fondo ligeramente más claro que el fondo del cuerpo */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.projects-section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #bb86fc; /* Color de texto principal */
}

/* Estilo de cada proyecto */
.project {
    border: 1px solid #333; /* Bordes más oscuros */
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background: #2c2c2c; /* Fondo del proyecto */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.project h3 {
    margin-bottom: 10px;
    font-size: 1.8rem;
    color: #03dac6; /* Color de texto para títulos */
}

.project p {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #e0e0e0; /* Texto claro */
}

.project img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
    border-radius: 8px;
}

/* Estilo para los strong */
strong {
    color: #bb86fc; /* Color de énfasis */
}